@using WebMaze.Models.Rest
@model RestPlaceViewModel

<div>
    Страница добавления места    

    <form action="@Url.Action("AddPlace","Rest")" method="post">
        <div>
            Название места: @Html.TextBoxFor(x => x.PlaceName)
        </div>
        <div>
            Описание места: @Html.TextBoxFor(x => x.PlaceDescription)
        </div>
        <div>
            <input type="submit" value="Создать место" />
        </div>
    </form>
</div>
